<app-toolbar></app-toolbar>
<div class="container">
  <app-holidayyear-administration-view
    [selectedHolidayYearSpec]="currentHolidayYearSpec"
  [holidayYearSpecs]="holidayYearSpecs"
  [employees]="employees"
  [selectedEmployee]="selectedEmployee"
  [selectedHolidayYear]="selectedHolidayYear"
  (updateEmitter)="updateHolidayYearSpec()"
  (selectEmployeeEmitter)="selectEmployee($event)"
  (toggleEditEmitter)="toggleEdit($event)"
  (createHolidayYearSpecEmitter)="createHolidayYearSpec()">
  </app-holidayyear-administration-view>
</div>
