<div class="container">
  <div class="row">
    <div class="col-lg-12" style="text-align: center">
      <h1>Administration af ferieår</h1>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12" style="text-align: center">
      <select #t (change)="selectHolidayYear(t.value)">
        <option disabled selected> -- Angiv ferieår --</option>
        <option *ngFor="let holidayYearSpec of holidayYearSpecs" [value]="holidayYearSpec.Id">{{holidayYearSpec.Name}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div>
      <app-public-holiday
        [currentHolidayYearSpec]="selectedHolidayYearSpec"
        (emitter)="updateHolidayYearSpec()"
      ></app-public-holiday>
    </div>
    <div>
      <div class="container">
        <div class="col-sm-12" style="text-align: center"><h3><strong>Medarbejdere</strong></h3></div>
       <div>
         <nav style="background-color: white; height: 650px; width: 300px; overflow-y: scroll">
           <ul class="menu" *ngIf="employees != null">
             <li class="menu" *ngFor="let employee of employees" (click)="selectEmployee(employee.Id)">{{employee.FirstName}} {{employee.LastName}}</li>
           </ul>
         </nav>
       </div>
      </div>
    </div>
    <div>
      <div class="container">
        <div class="col-sm-12" style="text-align: center"><h3><strong>Medarbejders Specifikationer</strong></h3></div>
        <app-holidayyear-employee
          [selectedEmployee]="selectedEmployee"
          [selectedHolidayYear]="selectedHolidayYear"
          (toggleEditEmitter)="toggleEdit($event)"
        ></app-holidayyear-employee>
      </div>
    </div>
  </div>
  <hr>
</div>
