<div class="container" *ngIf="employee && holidayYear">
  <div class="row">
    <div *ngIf="employee.Id === loggedInUser.Id && loggedInUser.EmployeeRole != 2" class="col-md-12 text-center">
      <hr>
      <h2>Din Ferieårsoversigt</h2>
      <hr>
    </div>
  </div>
  <div class="row">
    <div *ngIf="employee.Id === loggedInUser.Id && loggedInUser.EmployeeRole === 2" class="col-md-12 text-center">
      <hr>
      <h2>Ferieårsoversigt</h2>
      <hr>
    </div>
  </div>
  <div  class="row">
    <div *ngIf="employee.Id != loggedInUser.Id" class="col-md-12 text-center">
      <hr>
      <h2>Ferieårsoversigt for {{employee.FirstName}} {{employee.LastName}}</h2>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8" style="text-align: center">
      <div class="btn btn-info" type="button" (click)="previousHolidayYear()">
        Forrige
      </div>
      <b><strong>For ferieåret {{holidayYear.StartDate.getFullYear()}} - {{holidayYear.EndDate.getFullYear()}}</strong></b>
      <div class="btn btn-info" type="button" (click)="nextHolidayYear()">
        Næste
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
  <div class="row" style="width: 100%; display: inline-block; margin: 1px; text-align: center">
    <h3>{{holidayYear.StartDate.getFullYear()}}</h3>
  </div>
  <div class="row">
    <div class="col-sm-3" align="center" *ngFor="let month of monthsInHolidayYear">
      <app-month-view *ngIf="month.MonthDate.getMonth() > 3"
                      [month]="month"
                      [statuses]="statuses"
                      (emitter)="goToCalendar($event)"
      ></app-month-view>
    </div>
  </div>

  <div class="row" style="width: 100%; display: inline-block; margin: 1px; text-align: center">
    <hr>
    <h3>{{holidayYear.EndDate.getFullYear()}}</h3>
    <hr>
  </div>
  <div class="row">
    <div class="col-sm-3" align="center" *ngFor="let month of monthsInHolidayYear">
      <app-month-view *ngIf="month.MonthDate.getMonth() <= 3"
                      [month]="month"
                      [statuses]="statuses"
                      (emitter)="goToCalendar($event)"
      ></app-month-view>
    </div>
  </div>
</div>

