<div class="card" style="width: 100%; margin: 10px;">
  <div class="card" style="width: 95%; margin: 5px; text-align: center;">
    <div class="card-block">
      <h4 class="card-title">{{monthNames[month.MonthDate.getMonth()]}}</h4>
      <a class="btn btn-outline-info" style="margin: 5px;" (click)="goToCalendar(month.MonthDate.getMonth())">Til Måned</a>
    </div>

    <div *ngIf="!noAbsences">
      <div>
        <b><strong>Fravær i denne måned:</strong></b>
      </div>
      <div *ngFor="let status of statuses">
        <div *ngIf="getAmountOfStatuses(status.StatusName) != 0">
          <b>{{status.StatusName}}:</b> {{getAmountOfStatuses(status.StatusName)}}
        </div>
      </div>
    </div>
    <div *ngIf="noAbsences">
      <b>Intet fravær i denne måned</b>
    </div>

  </div>
</div>

