<div class="card" (click)="goToCalendar()" style="width: 100%; margin: 5px;">
  <div class="row" style="margin: 5px;">
    <div class="col-sm-3">
      <p><b>{{employee.FirstName}} {{employee.LastName}}</b></p>
    </div>
    <div class="col-sm-3">
      <div *ngIf="absencesForApprovalByEmployee === 0" ><b>Medarbejder:</b><i> Afventer </i><i class="fa fa-spinner fa-pulse"></i></div>
      <div *ngIf="absencesForApprovalByEmployee === 1" ><b>Medarbejder: <u>Godkendt </u></b><i class="fa fa-check" aria-hidden="true"></i></div>
    </div>
    <div class="col-sm-3">
      <div *ngIf="absencesForApprovalByChief === 0" ><b>Afdelingsleder: </b><i> Afventer </i><i class="fa fa-spinner fa-pulse"></i></div>
      <div *ngIf="absencesForApprovalByChief === 1" ><b>Afdelingsleder: <u>Godkendt </u></b><i class="fa fa-check" aria-hidden="true"></i></div>
    </div>
    <div class="col-sm-3">
      <div *ngIf="absencesForApprovalByAdmin === 0" ><b>Administrator: </b><i> Afventer </i><i class="fa fa-spinner fa-pulse"></i></div>
      <div *ngIf="absencesForApprovalByAdmin === 1" ><b>Administrator: <u>Godkendt </u></b><i class="fa fa-check" aria-hidden="true"></i></div>
    </div>
  </div>
</div>
