.employee .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  top: -5px;
  left: 105%;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: -1;
}

.employee{
  background-color: antiquewhite;
  margin: 0.5px;
  border-color: #23282e;
  border-style: solid;
  border-width: 1.5px;
}

.employee:hover .tooltiptext {
  visibility: visible;
}

.spent{
}

.earned{

}

