 <div class="row">
   <div class="col-sm-3">{{employee.FirstName}} {{employee.LastName}}</div>
   <div class="col-md-6">
     <div class="row">
       <div class="col-auto">{{holiday}}</div>
       <div class="col-auto">{{holidayFreedays}}</div>
       <div class="col-auto">{{sickness}}</div>
       <div class="col-auto">{{childsFirstSickness}}</div>
       <div class="col-auto">{{course}}</div>
       <div class="col-auto">{{maternity}}</div>
       <div class="col-auto">{{seniordays}}</div>
     </div>
   </div>
 </div>
