<div class="container">
  <div *ngIf="hasData">
    <div class="row" style="text-align: center">
      <label><b>OBS!: Dette ferieår indeholder medarbejder specifikationer.</b></label>
    </div>
    <div class="row">
      <label>Liste over medarbejdere:</label>
    </div>
    <nav style="background-color: white; height: 200px; width: 90%; overflow-y: scroll">
      <ul>
        <li *ngFor="let holidayYear of data.holidayYears">{{holidayYear.Employee.FirstName}} {{holidayYear.Employee.LastName}}</li>
      </ul>
    </nav>
    <form [formGroup]="formGroup" (ngSubmit)="delete()" novalidate>
      <div class="row">
        <label class="center-block col-md-12"><b>Skriv "SLET NU" for at slette</b>
          <input class="form-control"
                 [ngClass]="{'is-valid': deleteIsValid('confirmDelete')}"
                 formControlName="confirmDelete">
        </label>
      </div>
      <div class="row">
        <button [disabled]="!deleteIsValid('confirmDelete')" class="btn btn-danger" type="submit" (click)="delete()">Slet</button>
        <button class="btn btn-success" type="button" (click)="cancel()">Annuller</button>
      </div>
    </form>
  </div>
  <div *ngIf="!hasData">
    <div class="row">
      <label><b>Er du sikker på du vil slette ferieåret?</b></label>
    </div>
    <div class="row">
      <button class="btn btn-danger" (click)="delete()">Slet</button>
      <button class="btn btn-success" (click)="cancel()">Annuller</button>
    </div>
  </div>
</div>
