<div (click)="goToCalendar()" class="card" style="width: 100%">
      <div class="row" style="margin: 5px;">
          <div class="col-sm-3">
            <div style="margin: 5px;">
              <i class="fa fa-user" aria-hidden="true"></i><b> {{employee.FirstName}} {{employee.LastName}}</b>
            </div>
          </div>
        <div class="col-sm-3">
          <div style="margin: 5px;">
            <i class="fa fa-black-tie" aria-hidden="true"></i><b> {{getRole(employee.EmployeeRole)}}</b>
          </div>
        </div>
        <div class="col-sm-3">
          <div style="margin: 5px;">
            <i class="fa fa-envelope" aria-hidden="true"></i><b> {{employee.Email}}</b>
          </div>
        </div>
          <div *ngIf="isAdmin()" class="col-sm-3">
            <div *ngIf="!employeeToDelete || employeeToDelete.Id != employee.Id" class="pull-right">
              <button class="btn btn-outline-danger" (click)="delete(employee, $event)">
                <i class="fa fa-trash-o" aria-hidden="true"> Slet</i>
              </button>
              <button class="btn btn-outline-warning" (click)="edit($event)">
                <i class="fa fa-pencil" aria-hidden="true"> Rediger</i>
              </button>
            </div>
            <div *ngIf="employeeToDelete && employeeToDelete.Id == employee.Id" class="pull-right">
              <button class="btn btn-outline-danger" (click)="deleteAccepted(employee.Id, $event)">
                <i class="fa fa-trash-o" aria-hidden="true"></i>Sikker?
              </button>
              <button class="btn btn-outline-info" (click)="cancelDeletion($event)">
                <i class="fa fa-window-close-o" aria-hidden="true"></i> Afbryd
              </button>
            </div>
          </div>
      </div>
 </div>


