<div class="container"style="width: 100%">
  <div class="row" style="margin: 5px;">
    <div *ngIf="isAdmin()">
      <button class="btn btn-sm btn-danger" (click)="delete($event)">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      </button>
      <button class="btn btn-sm btn-warning" (click)="edit($event)">
        <i class="fa fa-pencil" aria-hidden="true"></i>
      </button>
    </div>
    <div class="employeeDiv" (click)="goToCalendar()" style="margin: 5px;">
      <i class="fa fa-user" aria-hidden="true"></i><b> {{employee.FirstName}} {{employee.LastName}}</b>
    </div>
  </div>
</div>



