<app-toolbar></app-toolbar>
<div *ngIf="departments" >
  <div class="container">
    <div class="row" style="text-align: center">
      <div class="col-md-12" >
        <hr>
        <h2>Månedsoversigt for {{monthNames[currentMonth.getMonth()]}} {{currentMonth.getFullYear()}}</h2>
        <div class="btn btn-info" (click)="previous()">Forrige</div>
        <a style="font-size: larger "><b><strong>For ferieåret {{holidayYearStart.getFullYear()}} - {{holidayYearEnd.getFullYear()}}</strong></b></a>
        <div class="btn btn-info" (click)="next()">Næste</div>
        <hr>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row" style="text-align: center; margin: 5px;">
      <div class="col-md-12">
        <div class="btn btn-success" (click)="goToMonth(4)">Maj</div>
        <div class="btn btn-success" (click)="goToMonth(5)">Juni</div>
        <div class="btn btn-success" (click)="goToMonth(6)">Juli</div>
        <div class="btn btn-success" (click)="goToMonth(7)">August</div>
        <div class="btn btn-success" (click)="goToMonth(8)">September</div>
        <div class="btn btn-success" (click)="goToMonth(9)">Oktober</div>
        <div class="btn btn-success" (click)="goToMonth(10)">November</div>
        <div class="btn btn-success" (click)="goToMonth(11)">December</div>
        <div class="btn btn-success" (click)="goToMonth(0)">Januar</div>
        <div class="btn btn-success" (click)="goToMonth(1)">Februar</div>
        <div class="btn btn-success" (click)="goToMonth(2)">Marts</div>
        <div class="btn btn-success" (click)="goToMonth(3)">April</div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12" align="center">
        <h4>{{monthNames[currentMonth.getMonth()]}}</h4>
      </div>
    </div>
    <div *ngFor="let department of departments">
      <div class="row">
        <div class="col-md-2" style="background: #4687ff; border: 2px; border-style: solid; border-color: #020203;">
          <div>
            <h5><b>{{department.Name}}</b></h5>
          </div>
        </div>
          <div class="col-md-10" >
            <div class="row">
              <div *ngFor="let day of daysInCurrentMonth">
                <div class="monthDay" >
                  {{day.getDate()}}
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <app-common-calendar-view *ngFor="let employee of department.Employees; let i = index"
                                    (emitter)="goToCalendar($event)"
                                    [powerOfTwo]="i"
                                    [employee]="employee"
                                    [daysInCurrentMonth]="daysInCurrentMonth"
          ></app-common-calendar-view>
        </div>
      </div>
    </div>
  </div>
</div>

