<h3>Fraværskoder:</h3>
<hr>
<div *ngFor="let status of statusList">
   <input [disabled]="isLockedForEdit" type="radio" name="absenceType" (change)="setStatus(status)">{{status.StatusCode + ' - ' + status.StatusName}}
</div>
<div>
  <input [disabled]="isLockedForEdit" type="radio" name="absenceType" checked="checked" (change)="setStatusDelete()">Slet
</div>
<hr>
<div>
  <input [disabled]="isLockedForEdit" type="radio" name="absenceType" (change)="setStatusLockOpenDay(true)">Lås fraværsdag
</div>
<div>
  <input [disabled]="isLockedForEdit" type="radio" name="absenceType" (change)="setStatusLockOpenDay(false)">Åben fraværsdag
</div>
<hr>
