<div class="container" style="width: 300px;">
  <div class="row">
    <div>
      <h2><b>Opret Ferieår</b></h2>
    </div>
  </div>
  <hr>
  <form [formGroup]="holidayYearGroup" (submit)="create()" novalidate>
    <div class="form-group">
      <div class="row">
        <label><b>Navn på ferieår:</b>
          <input class="form-control"
                 type="textfield"
                 formControlName="name"
                 [ngClass]="{'is-invalid': nameIsValid('name'), 'is-valid': nameIsInvalid('name')}">
          <div *ngIf="nameIsValid('name')" class="invalid-feedback">
            <div *ngIf="holidayYearGroup.controls['name'].errors">
              Du skal angive et navn
            </div>
          </div>
        </label>
      </div>
      <div class="row">
        <label><b>Start Dato:</b>
          <input class="form-control"
                 type="date"
                 formControlName="dateStart"
                 [ngClass]="{'is-invalid': dateIsInvalid('dateStart'), 'is-valid': dateIsValid('dateStart')}">
          <div *ngIf="dateIsInvalid('dateStart')" class="invalid-feedback">
            <div *ngIf="holidayYearGroup.controls['dateStart'].errors">
              Du skal angive en korrekt dato
            </div>
          </div>
        </label>
      </div>
      <div class="row">
        <label><b>Slut Dato:</b>
          <input class="form-control"
                 type="date"
                 formControlName="dateEnd"
                 [ngClass]="{'is-invalid': dateIsInvalid('dateEnd'), 'is-valid': dateIsValid('dateEnd')}">
          <div *ngIf="dateIsInvalid('dateEnd')" class="invalid-feedback">
            <div *ngIf="holidayYearGroup.controls['dateEnd'].errors">
              Du skal angive en korrekt dato
            </div>
          </div>
        </label>
      </div>
      <hr>
      <div class="row">
        <div class="col-lg-12">
          <button [disabled]="holidayYearGroup.invalid" type="submit" class="btn btn-success">Opret</button>
        </div>
      </div>
    </div>
  </form>
</div>
