<div class="container">
  <div class="row">
    <h2><b><strong>Der opstod en fejl</strong></b></h2>
  </div>
  <hr>
  <div class="row">
    <b>Fejlmeddelelse:</b>  '{{data.errorMessage}}'
  </div>
  <div class="row">
    {{data.errorHandler}}
  </div>
  <hr>
  <div class="row">
    <button *ngIf="data.multipleOptions != true" class="btn-info" (click)="ok()">Ok</button>
    <button *ngIf="data.multipleOptions === true" class="btn-success" (click)="accept()">Ja</button>
    <button *ngIf="data.multipleOptions === true" class="btn-danger" (click)="cancel()">Annuller</button>
  </div>
</div>
