<div class="container">
  <div class="row" style="text-align: center">
    <div>
      <h2><b>Opret nyt skema for:  {{data.employee.FirstName}} {{data.employee.LastName}}</b></h2>
    </div>
  </div>
  <hr>
  <div class="row" style="text-align: center">
    <div class="col-lg-12">
      <h3><b>Resterende ferie/feriefridage fra sidste år</b></h3>
    </div>
  </div>
  <div class="row">
   <div class="col-sm-12">
     <label>
       <b>Ferie:</b> <!--<strong>{{data.selectedHolidayYear.HolidayAvailable-data.selectedHolidayYear.HolidaysUsed}}</strong>-->
     </label>
   </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <label>
        <b>Feriefridage: </b><!--<strong>{{data.selectedHolidayYear.HolidayFreedayAvailable-data.selectedHolidayYear.HolidayFreedaysUsed}}</strong>-->
      </label>
    </div>
  </div>
  <hr>
  <form [formGroup]="holidayYearGroup" (submit)="create()" novalidate>
    <div class="row">
      <div class="col-sm-3">
        <label><b>Feriedage: </b></label>
      </div>
      <div class="col-sm-auto">
        <input type="text"
               formControlName="holidayAvailable">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <label><b>Feriefridage: </b></label>
      </div>
      <div class="col-sm-auto">
        <input type="text"
               formControlName="holidayFreedaysAvailable">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <label><b>Til overførsel:</b></label>
      </div>
      <div class="col-sm-auto">
        <input type="text"
               formControlName="holidayTransfered">
      </div>
    </div>
    <hr>
    <div class="row">
      <div>
        <button class="btn-success" type="submit">Opret</button>
      </div>
      <div>
        <button class="btn-danger" (click)="cancel()">Annuller</button>
      </div>
    </div>
  </form>
</div>

