<div class="col-md-12">
  <div class="row">
    <div style="margin-bottom: 3px; margin-top: 3px; text-align: center" *ngIf="isAdmin()">
      <button class="btn btn-sm btn-danger" (click)="deleteDepartment($event)">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      </button>
      <button class="btn btn-sm btn-warning" (click)="editDepartment($event)">
        <i class="fa fa-pencil" aria-hidden="true"></i>
      </button>
    </div>

    <b><strong><i class="fa fa-building-o" aria-hidden="true"></i> {{department.Name}}</strong></b>
  </div>
  <div class="row">
    <nav style="overflow-y: auto; overflow-x: hidden; background: linear-gradient(to bottom, #2980b9, #6dd5fa, #ffffff); border-style: solid; border-width: 1px; height: 300px; width: 300px;">
      <div class="contaier" style="text-align: left" *ngFor="let employee of department.Employees">
        <div class="row" *ngIf="employee.EmployeeRole != admin()">
          <div class="col-md-4" *ngIf="isAdmin()">
            <button class="btn btn-sm btn-danger" (click)="delete(employee.Id)">
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            </button>
            <button class="btn btn-sm btn-warning" (click)="edit(employee)">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
          </div>
          <div class="col-md-8"  (click)="goToCalendar(employee)">
            <div class="employeeDiv" style="margin: 5px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; float: left">
              <i *ngIf="!isAdmin()" class="fa fa-user" aria-hidden="true"></i><b> {{employee.FirstName}} {{employee.LastName}}</b>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
