<div class="container">
  <div class="row">
    <div>
      <div>
        <select #t (change)="selectEmployee(t.value)">
          <option disabled selected> -- Vælg en medarbejder --</option>
          <option *ngFor="let employee of employees" [value]="employee.Id">{{employee.FirstName}} {{employee.LastName}}</option>
        </select>
      </div>
      <app-workfreeday
      [employee]="getEmployee()"
      [workfreeDays]="getWorkfreeDaysOfEmployee(selectedEmployee)">adfadfa</app-workfreeday>
    </div>
    <div>
      <app-public-holiday>asdfasdf</app-public-holiday>
    </div>
  </div>
  <hr>
  <div class="row">
    <div>
      <button (click)="createWorkfreeDay()">Opret Arbejdsfridag</button>
    </div>
    <div>
      <button (click)="createPublicHoliday()">Opret Helligdag</button>
    </div>
  </div>
</div>

