<div *ngIf="employees" class="container">
  <div class="col-lg-12" style="text-align: center">
    <h1>Administration af Arbejdsfridage</h1>
    <hr>
  </div>
  <div *ngIf="currentHolidayYearSpec" class="row">
    <div>
      <app-workfreeday
      [employees]="employees"
      (emitter)="createWorkfreeDay($event)">
      </app-workfreeday>
    </div>
    <div>
      <app-public-holiday
      [currentHolidayYearSpec]="currentHolidayYearSpec"
      (emitter)="createPublicHoliday($event)">asdfasdf</app-public-holiday>
    </div>
  </div>
  <hr>
</div>

