<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4>Login her</h4>
    </div>
    <div class="col-md-12">
      <form [formGroup]="loginGroup" (ngSubmit)="loginEmployee($event)" novalidate>
        <div class="form-group">
          <label class="center-block col-md-12">Brugernavn:
            <input class="form-control"
                   placeholder="Brugernavn her"
                   [ngClass]="{'is-invalid': nameIsInvalid('userName'), 'is-valid': nameIsValid('userName')}"
                   formControlName="userName">
            <div *ngIf="nameIsInvalid('userName')" class="invalid-feedback">
              <div *ngIf="loginGroup.controls['userName'].errors.required">
                Du skal angive et brugernavn.
              </div>
            </div>
          </label>
          <label class="center-block col-md-12">Adgangskode:
            <input class="form-control"
                   type="password"
                   id="password"
                   placeholder="Adgangskode her"
                   [ngClass]="{'is-invalid': nameIsInvalid('password'), 'is-valid': nameIsValid('password')}"
                   formControlName="password">
            <div *ngIf="nameIsInvalid('password')" class="invalid-feedback">
              <div *ngIf="loginGroup.controls['password'].errors.required">
                Du skal angive en adgangskode.
              </div>
            </div>
          </label>
          <button [disabled]="loginGroup.invalid" type="submit" class="btn btn-info">
            <i class="fa fa-sign-in" aria-hidden="true">Login</i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
