.container{
}


.mainblock {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 350px;
  width: 300px;
  padding: 10px;
  border-color: black;
  border-width: 5px;
  background-color: rgba(220, 220, 220, 0.4);
  border-radius: 10px;
  box-shadow: 2.5px 2.5px;
}

.textfield{
  border-radius: 10px;
  box-shadow: 5px 5px;

}
