
.mainblock {
  display: block;
  position:fixed;
  top: 50%;
  left: 50%;
  width:18em;
  height:25em;
  margin-top: -15em; /*set to a negative number 1/2 of your height*/
  margin-left: -9em; /*set to a negative number 1/2 of your width*/
  border-color: black;
  border-width: 5px;
  background-color: #2e353d;
  border-radius: 10px;
  box-shadow: 2.5px 2.5px;
}

.textfield{
  border-radius: 10px;
  box-shadow: 5px 5px;

}
