<div *ngIf="!isMonthLocked">
  <div class="row" *ngFor="let week of amountOfWeeksInCurrentMonth; let i = index">
    <div *ngIf="getWeekList(i, 0) === -1" class="weekendSquare col-sm-1">
      {{getDateNumbersForCalendar(i, 0)}}
    </div>
    <div *ngIf="getWeekList(i, 0) != -1" class="weekendSquare col-sm-1">
      {{getDateNumbersForCalendar(i, 0)}}
    </div>
    <div *ngIf="getWeekList(i, 1) === -1" class="weekendSquare col-sm-2">
      {{getDateNumbersForCalendar(i, 1)}}
    </div>
    <div *ngIf="getWeekList(i, 1) != -1" class="weekdaySquare col-sm-2">
      {{getDateNumbersForCalendar(i, 1)}}
      <div>
        <div style="width: 50%; margin: 0 auto; text-align: left"
             (click)="changeAbsence(i, 1)" class="btn btn-outline-info">{{getStatusForDate(i, 1)}}
        </div>
      </div>
    </div>
    <div *ngIf="getWeekList(i, 2) === -1" class="weekendSquare col-sm-2">
      {{getDateNumbersForCalendar(i, 2)}}
    </div>
    <div *ngIf="getWeekList(i, 2) != -1" class="weekdaySquare col-sm-2">
      {{getDateNumbersForCalendar(i, 2)}}
      <div>
        <div style="width: 50%; margin: 0 auto; text-align: left"
             (click)="changeAbsence(i,2)" class="btn btn-outline-info">{{getStatusForDate(i, 2)}}
        </div>
      </div>
    </div>
    <div *ngIf="getWeekList(i, 3) === -1" class="weekendSquare col-sm-2">
      {{getDateNumbersForCalendar(i, 3)}}
    </div>
    <div *ngIf="getWeekList(i, 3) != -1" class="weekdaySquare col-sm-2">
      {{getDateNumbersForCalendar(i, 3)}}
      <div>
        <div style="width: 50%; margin: 0 auto; text-align: left"
             (click)="changeAbsence(i,3)" class="btn btn-outline-info">{{getStatusForDate(i, 3)}}
        </div>
      </div>
    </div>
    <div *ngIf="getWeekList(i, 4) === -1" class="weekendSquare col-sm-2">
      {{getDateNumbersForCalendar(i, 4)}}
    </div>
    <div *ngIf="getWeekList(i, 4) != -1" class="weekdaySquare col-sm-2">
      {{getDateNumbersForCalendar(i, 4)}}
      <div>
        <div style="width: 50%; margin: 0 auto; text-align: left"
             (click)="changeAbsence(i,4)" class="btn btn-outline-info">{{getStatusForDate(i, 4)}}
        </div>
      </div>
    </div>
    <div *ngIf="getWeekList(i, 5) === -1" class="weekendSquare col-sm-2">
      {{getDateNumbersForCalendar(i, 5)}}
    </div>
    <div *ngIf="getWeekList(i, 5) != -1" class="weekdaySquare col-sm-2">
      {{getDateNumbersForCalendar(i, 5)}}
      <div>
        <div style="width: 50%; margin: 0 auto; text-align: left"
             (click)="changeAbsence(i,5)" class="btn btn-outline-info">{{getStatusForDate(i, 5)}}
        </div>
      </div>
    </div>
    <div *ngIf="getWeekList(i, 6) === -1" class="weekendSquare col-sm-1">
      {{getDateNumbersForCalendar(i, 6)}}
    </div>
    <div *ngIf="getWeekList(i, 6) != -1" class="weekendSquare col-sm-1">
      {{getDateNumbersForCalendar(i, 6)}}
    </div>
  </div>
</div>

<!-- this div runs if the currentMonthonth is locked for approval -->
<div *ngIf="isMonthLocked">
  <div class="row" *ngFor="let week of amountOfWeeksInCurrentMonth; let i = index">
    <div *ngIf="getWeekList(i, 0) === -1" class="weekendSquare col-sm-1">
      {{getDateNumbersForCalendar(i, 0)}}
    </div>
    <div *ngIf="getWeekList(i, 0) != -1" class="weekendSquare col-sm-1">
      {{getDateNumbersForCalendar(i, 0)}}
    </div>
    <div *ngIf="getWeekList(i, 1) === -1" class="weekendSquare col-sm-2">
      {{getDateNumbersForCalendar(i, 1)}}
    </div>
    <div *ngIf="getWeekList(i, 1) != -1" class="lockedSquare col-sm-2">
      {{getDateNumbersForCalendar(i, 1)}}
      <div>
        <div *ngIf="getStatusForDate(i, 1) != '+'" style="width: 50%; margin: 0 auto; text-align: left"
             class="btn btn-info disabled">{{getStatusForDate(i, 1)}}
        </div>
      </div>
    </div>
    <div *ngIf="getWeekList(i, 2) === -1" class="weekendSquare col-sm-2">
      {{getDateNumbersForCalendar(i, 2)}}
    </div>
    <div *ngIf="getWeekList(i, 2) != -1" class="lockedSquare col-sm-2">
      {{getDateNumbersForCalendar(i, 2)}}
      <div>
        <div *ngIf="getStatusForDate(i, 2) != '+'" style="width: 50%; margin: 0 auto; text-align: left"
             class="btn btn-info disabled">{{getStatusForDate(i, 2)}}
        </div>
      </div>
    </div>
    <div *ngIf="getWeekList(i, 3) === -1" class="weekendSquare col-sm-2">
      {{getDateNumbersForCalendar(i, 3)}}
    </div>
    <div *ngIf="getWeekList(i, 3) != -1" class="lockedSquare col-sm-2">
      {{getDateNumbersForCalendar(i, 3)}}
      <div>
        <div *ngIf="getStatusForDate(i, 3) != '+'" style="width: 50%; margin: 0 auto; text-align: left"
             class="btn btn-info disabled">{{getStatusForDate(i, 3)}}
        </div>
      </div>
    </div>
    <div *ngIf="getWeekList(i, 4) === -1" class="weekendSquare col-sm-2">
      {{getDateNumbersForCalendar(i, 4)}}
    </div>
    <div *ngIf="getWeekList(i, 4) != -1" class="lockedSquare col-sm-2">
      {{getDateNumbersForCalendar(i, 4)}}
      <div>
        <div *ngIf="getStatusForDate(i, 4) != '+'" style="width: 50%; margin: 0 auto; text-align: left"
             class="btn btn-info disabled">{{getStatusForDate(i, 4)}}
        </div>
      </div>
    </div>
    <div *ngIf="getWeekList(i, 5) === -1" class="weekendSquare col-sm-2">
      {{getDateNumbersForCalendar(i, 5)}}
    </div>
    <div *ngIf="getWeekList(i, 5) != -1" class="lockedSquare col-sm-2">
      {{getDateNumbersForCalendar(i, 5)}}
      <div>
        <div *ngIf="getStatusForDate(i, 5) != '+'" style="width: 50%; margin: 0 auto; text-align: left"
             class="btn btn-info disabled">{{getStatusForDate(i, 5)}}
        </div>
      </div>
    </div>
    <div *ngIf="getWeekList(i, 6) === -1" class="weekendSquare col-sm-1">
      {{getDateNumbersForCalendar(i, 6)}}
    </div>
    <div *ngIf="getWeekList(i, 6) != -1" class="weekendSquare col-sm-1">
      {{getDateNumbersForCalendar(i, 6)}}
    </div>
  </div>
</div>

