<div *ngIf="initHasBeenRun">
  <div *ngIf="!isMonthLocked">
    <div class="row" *ngFor="let week of amountOfWeeksInCurrentMonth; let i = index">
      <div *ngIf="!isDayEditable(i, 0)" class="weekendSquare col-sm-1">
        {{getDateNumbersForCalendar(i, 0)}}
      </div>
      <div *ngIf="isDayEditable(i, 0)" class="weekendSquare col-sm-1">
        {{getDateNumbersForCalendar(i, 0)}}
      </div>
      <div *ngIf="!isDayEditable(i, 1)" class="weekendSquare col-sm-2">
        {{getDateNumbersForCalendar(i, 1)}}
      </div>
      <div *ngIf="isDayEditable(i, 1)" class="weekdaySquare col-sm-2">
        {{getDateNumbersForCalendar(i, 1)}}
        <div>
          <div style="text-align: center"
               (click)="changeAbsence(i, 1)" class="btn btn-outline-info btn-circle btn-xl">{{getStatusForDate(i, 1)}}
          </div>
        </div>
      </div>
      <div *ngIf="!isDayEditable(i, 2)" class="weekendSquare col-sm-2">
        {{getDateNumbersForCalendar(i, 2)}}
      </div>
      <div *ngIf="isDayEditable(i, 2)" class="weekdaySquare col-sm-2">
        {{getDateNumbersForCalendar(i, 2)}}
        <div>
          <div style="text-align: center"
               (click)="changeAbsence(i,2)" class="btn btn-outline-info btn-circle btn-xl">{{getStatusForDate(i, 2)}}
          </div>
        </div>
      </div>
      <div *ngIf="!isDayEditable(i, 3)" class="weekendSquare col-sm-2">
        {{getDateNumbersForCalendar(i, 3)}}
      </div>
      <div *ngIf="isDayEditable(i, 3)" class="weekdaySquare col-sm-2">
        {{getDateNumbersForCalendar(i, 3)}}
        <div>
          <div style="text-align: center"
               (click)="changeAbsence(i,3)" class="btn btn-outline-info btn-circle btn-xl">{{getStatusForDate(i, 3)}}
          </div>
        </div>
      </div>
      <div *ngIf="!isDayEditable(i, 4)" class="weekendSquare col-sm-2">
        {{getDateNumbersForCalendar(i, 4)}}
      </div>
      <div *ngIf="isDayEditable(i, 4)" class="weekdaySquare col-sm-2">
        {{getDateNumbersForCalendar(i, 4)}}
        <div>
          <div style="text-align: center"
               (click)="changeAbsence(i,4)" class="btn btn-outline-info btn-circle btn-xl">{{getStatusForDate(i, 4)}}
          </div>
        </div>
      </div>
      <div *ngIf="!isDayEditable(i, 5)" class="weekendSquare col-sm-2">
        {{getDateNumbersForCalendar(i, 5)}}
      </div>
      <div *ngIf="isDayEditable(i, 5)" class="weekdaySquare col-sm-2">
        {{getDateNumbersForCalendar(i, 5)}}
        <div>
          <div style="text-align: center"
               (click)="changeAbsence(i,5)" class="btn btn-outline-info btn-circle btn-xl">{{getStatusForDate(i, 5)}}
          </div>
        </div>
      </div>
      <div *ngIf="!isDayEditable(i, 6)" class="weekendSquare col-sm-1">
        {{getDateNumbersForCalendar(i, 6)}}
      </div>
      <div *ngIf="isDayEditable(i, 6)" class="weekendSquare col-sm-1">
        {{getDateNumbersForCalendar(i, 6)}}
      </div>
    </div>
  </div>

  <!-- this div runs if the currentMonthonth is locked for approval -->
  <div *ngIf="isMonthLocked">
    <div class="row" *ngFor="let week of amountOfWeeksInCurrentMonth; let i = index">
      <div *ngIf="!isDayEditable(i, 0)" class="weekendSquare col-sm-1">
        {{getDateNumbersForCalendar(i, 0)}}
      </div>
      <div *ngIf="isDayEditable(i, 0)" class="weekendSquare col-sm-1">
        {{getDateNumbersForCalendar(i, 0)}}
      </div>
      <div *ngIf="!isDayEditable(i, 1)" class="weekendSquare col-sm-2">
        {{getDateNumbersForCalendar(i, 1)}}
      </div>
      <div *ngIf="isDayEditable(i, 1)" class="lockedSquare col-sm-2">
        {{getDateNumbersForCalendar(i, 1)}}
        <div>
          <div *ngIf="getStatusForDate(i, 1) != '+'" style="text-align: center"
               class="btn btn-info btn-circle btn-xl disabled">{{getStatusForDate(i, 1)}}
          </div>
        </div>
      </div>
      <div *ngIf="!isDayEditable(i, 2)" class="weekendSquare col-sm-2">
        {{getDateNumbersForCalendar(i, 2)}}
      </div>
      <div *ngIf="isDayEditable(i, 2)" class="lockedSquare col-sm-2">
        {{getDateNumbersForCalendar(i, 2)}}
        <div>
          <div *ngIf="getStatusForDate(i, 2) != '+'" style="text-align: center"
               class="btn btn-info btn-circle btn-xl disabled">{{getStatusForDate(i, 2)}}
          </div>
        </div>
      </div>
      <div *ngIf="!isDayEditable(i, 3)" class="weekendSquare col-sm-2">
        {{getDateNumbersForCalendar(i, 3)}}
      </div>
      <div *ngIf="isDayEditable(i, 3)" class="lockedSquare col-sm-2">
        {{getDateNumbersForCalendar(i, 3)}}
        <div>
          <div *ngIf="getStatusForDate(i, 3) != '+'" style="text-align: center"
               class="btn btn-info btn-circle btn-xl disabled">{{getStatusForDate(i, 3)}}
          </div>
        </div>
      </div>
      <div *ngIf="!isDayEditable(i, 4)" class="weekendSquare col-sm-2">
        {{getDateNumbersForCalendar(i, 4)}}
      </div>
      <div *ngIf="isDayEditable(i, 4)" class="lockedSquare col-sm-2">
        {{getDateNumbersForCalendar(i, 4)}}
        <div>
          <div *ngIf="getStatusForDate(i, 4) != '+'" style="text-align: center"
               class="btn btn-info btn-circle btn-xl disabled">{{getStatusForDate(i, 4)}}
          </div>
        </div>
      </div>
      <div *ngIf="!isDayEditable(i, 5)" class="weekendSquare col-sm-2">
        {{getDateNumbersForCalendar(i, 5)}}
      </div>
      <div *ngIf="isDayEditable(i, 5)" class="lockedSquare col-sm-2">
        {{getDateNumbersForCalendar(i, 5)}}
        <div>
          <div *ngIf="getStatusForDate(i, 5) != '+'" style="text-align: center"
               class="btn btn-info btn-circle btn-xl disabled">{{getStatusForDate(i, 5)}}
          </div>
        </div>
      </div>
      <div *ngIf="!isDayEditable(i, 6)" class="weekendSquare col-sm-1">
        {{getDateNumbersForCalendar(i, 6)}}
      </div>
      <div *ngIf="isDayEditable(i, 6)" class="weekendSquare col-sm-1">
        {{getDateNumbersForCalendar(i, 6)}}
      </div>
    </div>
  </div>


</div>
