<app-absence-confirmation-view
  (emitter)="approveAbsencePeriod()"
  (emitterToReopen)="reopenMonth()"
  [loggedInUser]="loggedInUser"
  [employee]="employee"
  [isAdmin]="isAdmin"
  [isCEO]="isCEO"
  [isDepartmentChief]="isDepartmentChief"
  [isEmployee]="isEmployee"
  [isMonthApprovedByEmployee]="isMonthApprovedByEmployee"
  [isMonthApprovedByCEO]="isMonthApprovedByCEO"
  [isMonthApprovedByChief]="isMonthApprovedByChief"
  [isMonthApprovedByAdmin]="isMonthApprovedByAdmin"
></app-absence-confirmation-view>
