<div class="container">
  <div class="col-sm-12" style="border: #020203; border-style: solid;">
    <div>
      <button type="button" class="btn btn-primary" (click)="toggleMonthYear()">
        {{toggleButtonText}}
      </button>
    </div>
    <div *ngIf="buttonClicked===true">
      <select (change)="test($event.target.value)">
        <option *ngFor="let monthName of monthNames; let i = index" [value]="i">
          {{monthName.valueOf()}}
        </option>
      </select>
      <div class="row">
        <div class="col-md-3"><b><strong>Afdeling/Navn</strong></b></div>
        <div class="col-md-6"><b><strong>Total dage holdt til dato</strong></b></div>
        <div class="col-md-1">
          <b><strong>Overført</strong></b>
        </div>
        <div class="col-md-1">
          <b><strong>Optjent</strong></b>
        </div>
        <div class="col-md-1">
          <b><strong>Rest</strong></b>
        </div>
      </div>
      <div class="row" *ngFor="let department of departments">
        <div class="col-md-12">
          {{department.Name}}
        </div>
        <div class="col-md-12">
          <app-employee-month-statistics *ngFor="let employee of department.Employees"
                                         [employee]="employee"
                                         [currentMonth]="getCurrentMonthForEmployee(employee, currentMonthNumber)"
                                         [statuses]="statuses"
          ></app-employee-month-statistics>
        </div>
      </div>
    </div>
    <div *ngIf="buttonClicked===false">

    </div>
  </div>
</div>
