<app-toolbar></app-toolbar>
<div class="container">
  <!--<div *ngIf="isAdmin()">
    <div align="center">
      <hr>
      <h1>Medarbejdere</h1>
      <hr>
    </div>
    <div class="row" *ngFor="let department of departments">
      <h3>{{department.Name}}</h3>
      <div style="margin: 5px;" class="col-md-12" *ngFor="let employee of department.Employees">
        <app-employee
          [employee]="employee"
          (emitter)="deleteEmployeeFromList($event)"
        ></app-employee>
      </div>
    </div>
  </div>
  <div *ngIf="isChief()">
    <div align="center">
      <hr>
      <h1>Afdelingsoversigt</h1>
      <hr>
    </div>
    <div class="row" >
      <h3>{{loggedInUser.Department.Name}}</h3>
      <div style="margin: 5px;" class="col-md-12" *ngFor="let employee of loggedInUser.Department.Employees">
        <app-employee
          [employee]="employee"
          (emitter)="deleteEmployeeFromList($event)"
        ></app-employee>
      </div>
    </div>
  </div>-->
  <div>
    <div align="center">
      <hr>
      <i class="fa fa-building-o fa-2x" aria-hidden="true"></i>
      <h2>Medarbejdere pr. Afdeling</h2>
      <hr>
    </div>
    <div>
      <button *ngIf="isAdmin()" type="button" class="btn btn-success" (click)="createEmployee()"><i class="fa fa-user-plus" aria-hidden="true"></i> Opret ny medarbejder</button>
      <button *ngIf="isAdmin()" type="button" class="btn btn-success" (click)="createDepartment()">Opret ny afdeling</button>
    </div>

    <div style="border: 3px; border-style: solid; margin: 5px;" class="row" *ngFor="let department of departments">
      <div class="col-md-12">
        <div style="text-align: center">
          <h3>{{department.Name}}</h3>
        </div>
        <div style="margin: 5px;" class="col-sm-12" *ngFor="let employee of department.Employees">
          <app-employee
            [employee]="employee"
            (emitter)="deleteEmployeeFromList($event)"
          ></app-employee>
        </div>
      </div>
    </div>
  </div>

</div>

