<app-toolbar></app-toolbar>
<div class="container mainPage" *ngIf="loggedInUser != null">
  <div class="row">
    <hr>
  </div>
  <div class="row" style="justify-content: center">
    <h2><b><strong><i class="fa fa-building fa-1x"> </i>Medarbejdere pr. Afdeling</strong></b></h2>
  </div>
  <hr>
  <div class="row" style="justify-content: center">
    <div>
      <button *ngIf="isAdmin()" type="button" class="btn btn-success" (click)="createEmployee()"><i class="fa fa-user-plus" aria-hidden="true"></i> Opret ny medarbejder</button>
      <button *ngIf="isAdmin()" type="button" class="btn btn-success" (click)="createDepartment()">Opret ny afdeling</button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div style="text-align: center; background-color: grey; border-style: solid; margin: 5px; box-shadow: 10px 10px 10px rgba(0,0,0,0.50);" *ngFor="let department of departments">
      <div class="col-xl-12">
        <app-department [department]="department"
                        (deleteEmployeeEmitter)="deleteEmployeeFromDepartment($event, department)"
                        (deleteDepartmentEmitter)="deleteDepartment($event)"
                        (updateDepartmentEmitter)="updateDepartment($event)"
        ></app-department>
      </div>
    </div>
  </div>
  <div class="row">
    <button class="btn btn-info" (click)="test()">Excel</button>
    <button class="btn btn-info" (click)="test2()">XLSX</button>
  </div>
</div>

