<div class="nav-side-menu">
  <img src="https://www.eeu.dk/templates/webitallskeleton/images/dev/logo-dk.png" class="brand" style="width:200px;">
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  <div class="menu-list">

    <ul id="menu-content" class="menu-content collapse out">
      <li (click)="toPublicCalendar()">
        <a><i class="fa fa-home fa-lg"></i> Månedsoversigt</a>
      </li>
      <li *ngIf="!isAdmin()" (click)="toEmployeeProfile()">
        <a><i class="fa fa-id-card-o" aria-hidden="true"></i> Min Profil </a>
      </li>
      <li *ngIf="isAdmin()" (click)="toEmployeeProfile()">
        <a><i class="fa fa-id-card-o" aria-hidden="true"></i> Admin Profil </a>
      </li>
      <li *ngIf="!isAdmin()" (click)="toCalendar()">
        <a><i class="fa fa-calendar fa-lg"></i> Kalender </a>
      </li>
      <li>
        <a><i class="fa fa-list-alt fa-lg"></i> Valgte Ferieår </a>
        <div class="col-lg-12" style="text-align: center">
          <select #t (change)="selectHolidayYear(t.value)">
            <option disabled selected> -- Vælg ferieår --</option>
            <option *ngFor="let holidayYearSpec of holidayYearSpecs" [value]="holidayYearSpec.Id" [selected]="isCurrentHolidayYearSpec(holidayYearSpec.Id)" >{{holidayYearSpec.Name}}</option>
          </select>
        </div>
      </li>
      <li *ngIf="isAdmin()" (click)="toEmployees()">
        <a ><i class="fa fa-users fa-lg"></i> Medarbejdere </a>
      </li>
      <li *ngIf="isAdmin()" (click)="toHolidayYearAdministration()">
        <a ><i class="fa fa-wrench fa-lg"></i> Ferieårs Administration </a>
      </li>
      <li *ngIf="isAdmin()" (click)="toStats()">
        <a ><i class="fa fa-bar-chart fa-lg"></i> Statistikker </a>
      </li>
      <li *ngIf="!isAdmin()" (click)="toEmployees()">
        <a ><i class="fa fa-users fa-lg"></i> Kollegaer </a>
      </li>
      <li (click)="logOut()">
        <a><i class="fa fa-sign-out fa-lg"></i> Logud </a>
      </li>
    </ul>
  </div>
</div>
