<div class="container">
  <div class="col-sm-12" style="text-align: center"><h3><strong>Arbejdsfri/Helligdage</strong></h3></div>
  <nav style="box-shadow: 10px 10px 10px rgba(0,0,0,0.50); border-style: solid; border-width: 1px; background-color: white; height: 650px; width: 90%; overflow-y: auto; overflow-x: hidden;">
    <ul *ngIf="currentHolidayYearSpec != null">
      <li *ngFor="let publicHoliday of publicHolidays">
       <div class="row">
         <p class="col-sm-10"><b>  {{publicHoliday.Name}} - {{publicHoliday.Date | date: 'dd/MM/yyyy'}}</b></p>
         <button class="btn btn-danger btn-sm col-sm-2" (click)="delete(publicHoliday.Id)"><i class="fa fa-trash" aria-hidden="true"></i></button>
       </div>
      </li>
    </ul>
  </nav>
  <div *ngIf="currentHolidayYearSpec">
    <button class="btn btn-success btn-lg" (click)="createPublicHoliday()">Opret Helligdag</button>
  </div>
</div>
