<div class="container">
  <div class="col-sm-12" style="text-align: center"><h3><strong>Arbejdsfridage</strong></h3></div>
  <div>
    <select #t (change)="selectHolidayYearSpec(t.value)">
      <option disabled selected> -- Angiv ferieår --</option>
      <option *ngFor="let holidayYearSpec of holidayYearSpecs" [value]="holidayYearSpec.Id">{{holidayYearSpec.Name}}</option>
    </select>
  </div>
  <div>
    <nav style="background-color: white; height: 400px; width: 300px; overflow-y: scroll">
      <ul *ngIf="employee">
        <li *ngFor="let workfreeDay of currentWorkfreeDayList" (click)="test()" style="margin: 5px">{{workfreeDay.Name}} - {{workfreeDay.Date | date: 'dd/MM/yyyy'}}
          <button class="btn btn-warning btn-sm" (click)="edit(workfreeDay)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
          <button class="btn btn-danger btn-sm" (click)="delete(workfreeDay.Id)"><i class="fa fa-trash" aria-hidden="true"></i></button></li>
      </ul>
    </nav>
  </div>
  <div>
    <button class="btn btn-success btn-lg" (click)="create(employee)">Opret Arbejdsfridag</button>
  </div>
  <div>
    <button class="btn btn-success btn-lg" (click)="test()">Muh</button>
  </div>
</div>
