
ul li{
  font-weight:700;
  float: none;
}

h2 {
  font-family: Impact, Charcoal, sans-serif;
  font-size: 3vw;
  margin-left: -1%;
}
h3 {
  font-family: Impact, Charcoal, sans-serif;
  font-size: 2vw;
  margin-left: -1%;
}
